body {font-family: Times new romans, Times, seri; text-align: left-side; background-color:WhiteSmoke}
form {border: 1px solid #A9A9A9; background-image: url("foodpic1.jpg");
    background-repeat:no-repeat;} 

input[type=text], input[type=password] {
    width: 70%;
    padding: 9px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: WhiteSmoke;
    color: black;
    padding: 7px 10px;
    margin: 8px 0;
    cursor: pointer;
    width: 40%;

}

button:hover {
    opacity: 0.8;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  background-color: #778899;
  color: black;
  padding: 7px 10px;
  margin: 8px 0;
  cursor: pointer;
  width: 40%;
}
.container {
    padding: 1px;
	width: 70%;
}

span.psw {
    float: right;
    padding-top: 16px;

}
</style>